<h2>Current Books</h2>

<div *ngFor="let b of books" class="mb-2">
  <bibentry [book]=b></bibentry> <button [routerLink]="['/edit', b.id]" class="btn btn-primary">Edit</button>
</div>

<button class="btn btn-primary" routerLink="/new">Add a new book</button>
